In [3]:
import os
import pandas as pd
import numpy as np
import pymongo
import yaml

In [4]:
DATA_DIR = os.getenv("DATA_DIR")
CONFIG = os.getenv("CONFIG")
blacklist_path = os.path.join(CONFIG, 'document_types_excluded_from_the_topic_taxonomy.yml')

In [5]:
mongo_client = pymongo.MongoClient("mongodb://localhost:27017/")
content_store_db = mongo_client["content_store"]
content_store_collection = content_store_db["content_items"]

In [6]:
def get_excluded_document_types():
    with open(blacklist_path, 'r') as f:
        return yaml.safe_load(f)['document_types']

In [7]:
BLACKLIST_DOCUMENT_TYPES = get_excluded_document_types()
BLACKLIST_DOCUMENT_TYPES[0:5]

['about',
 'about_our_services',
 'access_and_opening',
 'business_support_finder',
 'coming_soon']

In [17]:
DETAILS_PARTS = {
    "details.parts.slug":1,
    "title":1,
    "locale":1,
    "document_type": 1,
    "content_id": 1}

QUERY = {"$and": [
    {"document_type": {"$nin": BLACKLIST_DOCUMENT_TYPES}},
    {"phase": "live"}]}

In [18]:
content_items = content_store_collection.find(QUERY, DETAILS_PARTS)
rowlist = []
for i,item in enumerate(content_items):
    rowlist.append(item)
df = pd.DataFrame(rowlist)

In [37]:
df.head()

,_id,content_id,details,document_type,locale,title
0,/aaib-reports/aaib-investigation-to-hawker-sea...,96eacfbe-0385-45ef-9289-8428dacad258,{},aaib_report,en,"AAIB investigation to Hawker Sea Fury T MK 20,..."
1,/aaib-reports/aaib-investigation-to-hph-glasfl...,1d697c99-b1d0-4855-b72d-a97d83a4fc91,{},aaib_report,en,"AAIB investigation to HPH Glasflugel 304 eS, G..."
2,/aaib-reports/aaib-investigation-to-ikarus-c42...,5814334a-77d0-426e-8e78-ff2b05ea6322,{},aaib_report,en,"AAIB investigation to Ikarus C42 FB UK, G-IKUS\t"
3,/aaib-reports/aaib-investigation-to-ikarus-c42...,c8f31c76-eab0-4be6-95a5-5e6e7f32056c,{},aaib_report,en,"AAIB investigation to Ikarus C42 FB100, G-CEHG\t"
4,/aaib-reports/aaib-investigation-to-ikarus-c42...,4cc0ae15-ad87-42ce-8a89-2bdb14e19e26,{},aaib_report,en,"AAIB investigation to Ikarus C42 FB100, G-ZAVI"

In [38]:
df[df.details.str.len()>0].iloc[0]

_id                                             /1619-bursary-fund
content_id                    f4b96a38-5247-4afd-b554-8a258a0e8c93
details          {'parts': [{'slug': 'overview'}, {'slug': 'wha...
document_type                                                guide
locale                                                          en
title                                        16 to 19 Bursary Fund
Name: 20, dtype: object

In [49]:
for ind,item in df[df.details.str.len()>0][0:10].iterrows():
    for i in item['details']['parts']:
        if "eligibility" in i['slug']:
            print(item['_id'])

/1619-bursary-fund
/additional-state-pension
/access-to-elected-office-fund
/access-to-work

In [36]:
[item['slug'] for i in df[df.details.str.len()>0].iloc[0].details.values() for item in i]

['overview',
 'what-youll-get',
 'eligibility',
 'how-to-claim',
 'further-information']

In [51]:
def get_parts(details):
    return [item['slug'] for i in details.values() for item in i]

In [83]:
def map_page_to_parts(collection_items):
    rowlist = []
    for i,content_item in enumerate(collection_items):
        parts = get_parts(content_item['details'])
        content_item.pop('details')          
        if len(parts)>0:
            for part in parts:
                rowdict = {key:value for key,value in content_item.items()}
                rowdict['part'] = part
                rowlist.append(rowdict)
        else:
            rowdict = content_item 
            rowlist.append(rowdict)
    return pd.DataFrame(rowlist)

In [84]:
content_items = content_store_collection.find(QUERY, DETAILS_PARTS)

In [85]:
df = map_page_to_parts(content_items)
df.rename(columns={'_id':'base_path'},inplace=True)
df.head()

,base_path,content_id,document_type,locale,part,title
0,/aaib-reports/aaib-investigation-to-hawker-sea...,96eacfbe-0385-45ef-9289-8428dacad258,aaib_report,en,NaN,"AAIB investigation to Hawker Sea Fury T MK 20,..."
1,/aaib-reports/aaib-investigation-to-hph-glasfl...,1d697c99-b1d0-4855-b72d-a97d83a4fc91,aaib_report,en,NaN,"AAIB investigation to HPH Glasflugel 304 eS, G..."
2,/aaib-reports/aaib-investigation-to-ikarus-c42...,5814334a-77d0-426e-8e78-ff2b05ea6322,aaib_report,en,NaN,"AAIB investigation to Ikarus C42 FB UK, G-IKUS\t"
3,/aaib-reports/aaib-investigation-to-ikarus-c42...,c8f31c76-eab0-4be6-95a5-5e6e7f32056c,aaib_report,en,NaN,"AAIB investigation to Ikarus C42 FB100, G-CEHG\t"
4,/aaib-reports/aaib-investigation-to-ikarus-c42...,4cc0ae15-ad87-42ce-8a89-2bdb14e19e26,aaib_report,en,NaN,"AAIB investigation to Ikarus C42 FB100, G-ZAVI"

In [91]:
df[df.part=="eligibility"].drop_duplicates('content_id').document_type.value_counts()

guide    127
Name: document_type, dtype: int64

In [87]:
df[~df.part.isna()][['base_path','part']].apply("/".join,axis=1)

20                              /1619-bursary-fund/overview
21                        /1619-bursary-fund/what-youll-get
22                           /1619-bursary-fund/eligibility
23                          /1619-bursary-fund/how-to-claim
24                   /1619-bursary-fund/further-information
8736                     /additional-state-pension/overview
8737               /additional-state-pension/what-youll-get
8738                  /additional-state-pension/eligibility
8739              /additional-state-pension/contracting-out
8740                 /additional-state-pension/how-to-claim
8741                   /additional-state-pension/inheriting
8742             /additional-state-pension/you-get-divorced
8744                          /adi-standards-check/overview
8745          /adi-standards-check/book-adi-standards-check
8746      /adi-standards-check/what-to-take-to-your-stan...
8747      /adi-standards-check/what-happens-at-the-stand...
8748        /adi-standards-check/your-standards-check-grade
8749         /adi-standards-check/old-adi-check-test-grades
8750              /administrative-appeals-tribunal/overview
8751         /administrative-appeals-tribunal/how-to-appeal
8752      /administrative-appeals-tribunal/how-your-case...
8753      /administrative-appeals-tribunal/if-you-lose-y...
8754      /administrative-appeals-tribunal/legislation-a...
10017                            /adi-part-2-test/book-test
10018                         /adi-part-2-test/what-to-take
10019                            /adi-part-2-test/car-rules
10020             /adi-part-2-test/what-happens-during-test
10021                   /adi-part-2-test/faults-test-result
10022           /adi-part-2-test/test-cancelled-bad-weather
10403               /access-to-elected-office-fund/overview
                                ...
316953    /your-employment-contract-how-it-can-be-change...
316954    /your-employment-contract-how-it-can-be-change...
316955    /your-employment-contract-how-it-can-be-change...
316956                   /your-property-boundaries/overview
316957    /your-property-boundaries/boundary-agreement-n...
316958    /your-property-boundaries/apply-exact-boundary...
316959    /your-property-boundaries/correct-boundary-mis...
316960                 /your-rights-after-crime/your-rights
316961    /your-rights-after-crime/if-the-case-goes-to-c...
316962    /your-rights-after-crime/if-the-crime-was-seri...
316963            /your-rights-after-crime/make-a-complaint
316964    /your-rights-bailiffs/what-you-can-do-when-a-b...
316965    /your-rights-bailiffs/how-to-complain-about-a-...
316966    /your-rights-if-your-employer-is-insolvent/ove...
316967    /your-rights-if-your-employer-is-insolvent/you...
316968    /your-rights-if-your-employer-is-insolvent/wha...
316969    /your-rights-if-your-employer-is-insolvent/app...
316970    /your-rights-if-your-employer-is-insolvent/aft...
316972          /youth-crime-prevention-programmes/overview
316973    /youth-crime-prevention-programmes/how-young-p...
316974    /youth-crime-prevention-programmes/what-these-...
316975         /youth-crime-prevention-programmes/mentoring
316976    /youth-crime-prevention-programmes/involving-p...
316978                          /yswiriant-gwladol/trosolwg
316979       /yswiriant-gwladol/eich-rhif-yswiriant-gwladol
316980    /yswiriant-gwladol/dosbarthiadau-yswiriant-gwl...
316981            /yswiriant-gwladol/faint-rydych-chin-talu
316982    /yswiriant-gwladol/yr-hyn-y-mae-yswiriant-gwla...
316983        /yswiriant-gwladol/cymorth-nad-ydych-gweithio
316984           /yswiriant-gwladol/newid-mewn-amgylchiadau
Length: 4111, dtype: object

In [92]:
df.columns

Index(['base_path', 'content_id', 'document_type', 'locale', 'part', 'title'], dtype='object')

In [93]:
df.drop(['document_type', 'locale', 'title'], axis=1, inplace=True)

In [95]:
df.to_csv(os.path.join(DATA_DIR, "base_path_cid_map.csv"), index=False)