In [9]:
import pandas as pd 
import numpy as np
import os
from ast import literal_eval

In [12]:
DATA_DIR = os.getenv("DATA_DIR")
content_store_path = os.path.join(DATA_DIR, 'preprocessed_content_store.csv.gz')

In [13]:
df = pd.read_csv(content_store_path, compression="gzip")

## Compute statistics for presence of orgs and coverage
### how many cids have orgs attached to them?

In [14]:
df.head()

,base_path,content_id,title,description,document_type,orgs_id,orgs_title,text
0,/1619-bursary-fund,f4b96a38-5247-4afd-b554-8a258a0e8c93,16 to 19 Bursary Fund,"Bursaries of up to £1,200 for students in furt...",guide,{'organisations': ['71381a6e-aa5c-43ae-a982-be...,{'organisations': ['Education and Skills Fundi...,You could get a bursary to help with education...
1,/30-hours-free-childcare,ddda6dc8-e9de-49db-bbd1-97e3d0bc1e6f,30 hours free childcare,Who is eligible for 30 hours free childcare an...,answer,{'organisations': ['ebd15ade-73b2-4eaf-b1c3-43...,"{'organisations': ['Department for Education',...",You may be able to get up to 30 hours free chi...
2,/aaib-reports/1-1971-g-atek-and-g-ateh-15-augu...,ed760821-bf95-408b-9824-f6efccd1b505,"1/1971 G-ATEK and G-ATEH, 15 August 1967",NaN,aaib_report,{'organisations': ['38eb5d8f-2d89-480c-8655-e2...,{'organisations': ['Air Accidents Investigatio...,Report No: 1/1971. Hawker Siddeley HS 748 Seri...
3,/aaib-reports/1-1973-ph-moa-3-june-1971,bd9737e8-44fe-4928-985c-803b5fa7ad9f,"1/1973 PH-MOA, 3 June 1971",NaN,aaib_report,{'organisations': ['38eb5d8f-2d89-480c-8655-e2...,{'organisations': ['Air Accidents Investigatio...,Report No: 1/1973. Douglas DC3 PH-MOA. Report ...
4,/aaib-reports/1-1975-beechcraft-95-b55-baron-g...,36a0e60e-de72-4374-98fe-c201fdb86068,"1/1975 Beechcraft 95-B55 (Baron), G-AZZJ, 4 ...",NaN,aaib_report,{'organisations': ['38eb5d8f-2d89-480c-8655-e2...,{'organisations': ['Air Accidents Investigatio...,Report No: 1/1975. Beechcraft 95-B55 (Baron) G...

In [15]:
df.shape

(360921, 8)

In [16]:
for col in [col for col in df.columns if "orgs" in col]:
    print(col)
    df[col] = df[col].map(lambda x: literal_eval(x) if isinstance(x,str) else np.nan)

orgs_id
orgs_title

In [21]:
for key,value in df['orgs_id'].iloc[0].items():
    print(len(value))
sum([len(value) for _,value in df['orgs_id'].iloc[0].items()])

1
1

2

In [22]:
df['total_org_num'] = df['orgs_id'].map(lambda x: 
                                        sum([len(value) for _,value in x.items()])
                                        if not isinstance(x,float) else 0)

In [23]:
df['total_org_num'].describe()

count    360921.000000
mean          2.063271
std           0.855832
min           0.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          20.000000
Name: total_org_num, dtype: float64